@model IEnumerable<StudentManagementSystems.Models.Enrollment>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Enrollments";
    string courseFilter = ViewBag.CourseFilter as string;
    string studentFilter = ViewBag.StudentFilter as string;
    string currentSort = ViewBag.CurrentSort as string;
}

<h2 class="w-100 text-center">Manage Enrollments</h2>

<div class="bg-light p-4 rounded">
    @using (Html.BeginForm("Index", "AdminEnrollments", FormMethod.Get))
    {
        <div class="mb-3">
            <label for="courseFilter" class="form-label text-primary text-dark">Find by course name or ID</label>
            @Html.TextBox("searchString", courseFilter, new { @class = "form-control border-primary", @id = "courseFilter" })
        </div>
        <div class="mb-3">
            <label for="studentFilter" class="form-label text-primary text-dark">Find by student name, email</label>
            @Html.TextBox("studentSearchString", studentFilter, new { @class = "form-control border-primary", @id = "studentFilter" })
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }

    <table class="table mt-4 table-striped table-bordered">
        <thead>
            <tr>
                <th class="text-center">
                    @Html.ActionLink("CourseID", "Index", new { sortOrder = ViewBag.DateSortParm, searchString = courseFilter, studentSearchString = studentFilter } )
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Course.CourseName)
                </th>
                <th class="text-center">
                    @Html.ActionLink("Student Name", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = courseFilter, studentSearchString = studentFilter })
                </th>
                <th class="text-center">
                    Email
                </th>
                <th class="text-center">
                    @Html.ActionLink("Enrollment Date", "Index", new { sortOrder = ViewBag.DateSortParm, searchString = courseFilter, studentSearchString = studentFilter })
                </th>
            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseID, null, new { @style = "text-center" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.StudentEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollmentDate)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}