@model StudentManagementSystems.Models.Course

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Create Course";
}

<h1>Create Course</h1>




<div class="form-horizontal bg-light p-4 rounded">
    <h4 class="text-primary">Course</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form action="@Url.Action("Create")" method="post">
                @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
        
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.Categories, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.Categories, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Instructor, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.Instructor, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.Instructor, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2 text-primary" })
                        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control border-primary" } })
                        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="margin-top: 15px">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <button class="btn btn-primary">
                            <a href="@Url.Action("Index")" class="text-light" style="text-decoration : none">Back to List</a>
                        </button>
                    </div>
</form>
        </div>
    </div>
</div>
    


