@model IEnumerable<StudentManagementSystems.Models.Student>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Students";
}

<h2 class="w-100 text-center">Manage Student</h2>



<form method="get" action="@Url.Action("Index")">
    <div class="row">
        <div class="col-9">

        </div>
        <div class="col-3 ps-1">
            <div class="form-group me-1 mb-3">
                <div class="input-group">
                    <input value="@ViewBag.CurrentFilter" type="text" class="form-control" placeholder="Name, ID" name="searchString">
                    <button class="btn btn-primary" type="submit" id="btn_search"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>

@*    <p>
        Search: <input type="text" name="searchString" value="@ViewBag.CurrentFilter" />
        <input type="submit" value="Search" />
    </p>*@
</form>

<table class="table table-striped table-bordered">
    <tr>
        <th class="text-center">
            @Html.ActionLink("Student ID", "Index", new { sortOrder = ViewBag.IDSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th class="text-center">
            @Html.ActionLink("Date of Birth", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th class="text-center">
            Email
        </th>
        <th class="text-center">
            Phone
        </th>
        <th class="text-center">
            Address
        </th>
        <th class="text-center">
            <button class="btn btn-success">
                @Html.ActionLink("New student", "Create", null, new { @style = "color: white; text-decoration : none" })
            </button>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td align="center">
                @Html.DisplayFor(modelItem => item.StudentID, new { @class = "text-center" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.StudentEmail)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td style="white-space: nowrap">
                <a href="@Url.Action("Edit", new { id = item.StudentID })" class="btn btn-warning text-light" style="text-decoration: none;">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
                <a href="@Url.Action("Details", new { id = item.StudentID })" class="btn btn-primary text-light" style="text-decoration: none;">
                    <i class="bi bi-exclamation-circle-fill"></i> Details
                </a>
                <a href="@Url.Action("Delete", new { id = item.StudentID })" class="btn btn-danger text-light" style="text-decoration: none;">
                    <i class="bi bi-trash3-fill"></i> Delete
                </a>
            </td>
        </tr>
    }

</table>
